.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input::placeholder {
  opacity: 0.5;
}

/* make sure fluentui fields have full width */
div.fui-ComboboxField,
div.fui-InputField {
  justify-items: stretch;
}

.submit {
  width: 70%;
  align-self: center;
}
